################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Demo/bin/Debug/net10.0-windows
/Logger/.vs
/Logger/bin/Debug/net10.0
/Logger/obj
/Demo/obj/Debug/net10.0-windows/ref/LoggerDemo.dll
/Demo/obj/Debug/net10.0-windows/refint/LoggerDemo.dll
/Demo/obj/Debug/net10.0-windows/apphost.exe
/Demo/obj/Debug/net10.0-windows/LoggerDemo.AssemblyInfo.cs
/Demo/obj/Debug/net10.0-windows/LoggerDemo.AssemblyInfoInputs.cache
/Demo/obj/Debug/net10.0-windows/LoggerDemo.assets.cache
/Demo/obj/Debug/net10.0-windows/LoggerDemo.csproj.AssemblyReference.cache
/Demo/obj/Debug/net10.0-windows/LoggerDemo.csproj.CoreCompileInputs.cache
/Demo/obj/Debug/net10.0-windows/LoggerDemo.csproj.FileListAbsolute.txt
/Demo/obj/Debug/net10.0-windows/LoggerDemo.dll
/Demo/obj/Debug/net10.0-windows/LoggerDemo.pdb
/Demo/obj/Debug/net10.0-windows/LoggerDemo.sourcelink.json
/Demo/obj/LoggerDemo.csproj.nuget.dgspec.json
/Demo/obj/LoggerDemo.csproj.nuget.g.props
/Demo/obj/LoggerDemo.csproj.nuget.g.targets
/Demo/obj/project.assets.json
/Demo/obj/project.nuget.cache
/Logger/bin/Debug/labworx.logger.1.0.0.nupkg
/Logger/bin/Debug/labworx.logger.1.1.0.nupkg
/Demo/obj/Debug/net10.0-windows/LoggerDemo.csproj.GenerateResource.cache
/Demo/obj/Debug/net10.0-windows/LoggerDemo.designer.deps.json
/Demo/obj/Debug/net10.0-windows/LoggerDemo.frmEncryptedLogReader.resources
/Logger/bin/Debug/labworx.logger.2.0.0.nupkg
/Logger/bin/Debug/labworx.logger.2.5.0.nupkg
